* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-bar {
    width: 5%;
    background-color: #555;
}

.icon-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 16px;
    color: #fff;
    transition: all 0.3 ease;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.second {
    display: flex;
    margin-top: 1rem;
    /* width: 20%; */
    width: fit-content;
}

.second a {
    width: 2rem;
    padding: 16px 24px;
}