*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.btn{
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    letter-spacing: 0.6px;
    color: #fff;
    margin: 10px;
    box-shadow: 2px -2px 10px rgba(0,0,0,0.5);
}
.success{
    background-color: #04aa6d;
}
.success:hover{
    background-color: #46a049;
}
.info{
    background-color: #2196f3;
}
.info:hover{
    background-color: #0b7dda;
}
.warning{
    background-color: #ff9800;
}
.warning:hover{
    background-color: #e68a00;
}
.danger{
    background-color: #f44336;
}
.danger:hover{
    background-color: #da190b;
}
.default{
    background-color: #e7e7e7;
    color: #000;
}
.default:hover{
    background-color: #ddd;
}